@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

/* Minesweeper */

.ms-grid {
  height: 25rem;
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.ms-grid div {
  height: 2.5rem;
  width: 2.5rem;
}

.checked {
  background-color: red;
}

.kaboom {
  background-color: orangered;
}
